<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="icon" href="/static/favicon.ico">


    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/product.css" rel="stylesheet">
  </head>
<body>




<!-- Membertopbar -->


		
		
		<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbarMember">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">會員中心</a>
			
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="/member/logout">登出</a>
				</li>
			</ul>
		</nav>
		
		
		
		
		
		
		
<!-- Admintopbar -->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbarAdmin">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">管理員模式</a>
			
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="/admin/logout">登出</a>
				</li>
			</ul>
			
		</nav>
		
		
<!-- Admin sideabar -->	
		<nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
					
							<li class="nav-item">
								<a class="nav-link active" href="#"
								th:class="${activeUri=='orderlist'?'nav-link active':'nav-link'}"
								  th:href="@{/admin/orderList}">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
										<path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
										<circle cx="9" cy="7" r="4"></circle>
										<path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
										<path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
									</svg>
									訂單
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="#"
								th:class="${activeUri=='bulletin'?'nav-link active':'nav-link'}"
								  th:href="@{/admin/bulletin}">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
										<path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
										<polyline points="13 2 13 9 20 9"></polyline>
									</svg>
									發布公告
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="#" 
								 th:class="${activeUri=='productList'?'nav-link active':'nav-link'}"
								  th:href="@{/admin/productList}">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
										<circle cx="9" cy="21" r="1"></circle>
										<circle cx="20" cy="21" r="1"></circle>
										<path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
									</svg>
									品項管理
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="#"
								th:class="${activeUri=='member'?'nav-link active':'nav-link'}"
								  th:href="@{/admin/memberList}">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
										<path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
										<circle cx="9" cy="7" r="4"></circle>
										<path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
										<path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
									</svg>
									會員名單
								</a>
							</li>
						
						
						</ul>

						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              
              
            </h6>
						
					</div>
				</nav>

		
		
<!-- Member sideabar -->	
		<nav class="col-md-2 d-none d-md-block bg-light sidebar" id="Membersidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							
							<li class="nav-item">
								<a class="nav-link active" href="#"
								th:class="${activeUri=='orderlist'?'nav-link active':'nav-link'}"
								  th:href="@{/member/memberCenter}">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
										<path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
										<circle cx="9" cy="7" r="4"></circle>
										<path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
										<path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
									</svg>
									訂單查詢
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link active" href="#" 
								 th:class="${activeUri=='productList'?'nav-link active':'nav-link'}"
								  th:href="@{/}">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
										<circle cx="9" cy="21" r="1"></circle>
										<circle cx="20" cy="21" r="1"></circle>
										<path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
									</svg>
									購物去
								</a>
							</li>
	
						
						</ul>

						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              
              
            </h6>
						
					</div>
				</nav>		
				
				
				<!-- 首頁BAR -->	
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="indexbar">
      <div class="container d-flex flex-column flex-md-row justify-content-between" >
     
        <a class="py-2 d-none d-md-inline-block" style="color:red" th:text="${session.loginUser!=null}?${session.loginUser}+'您好':'您好'" >商品</a>
        <a class="py-2 d-none d-md-inline-block" href="/">商品</a>
        <a class="py-2 d-none d-md-inline-block" href="/goBulletin">公告</a>
        <a class="py-2 d-none d-md-inline-block" href="/member/memberCenter">會員中心</a>
        <a class="py-2 d-none d-md-inline-block" href="/Cart/goCart">購物車</a>       
        <a class="py-2 d-none d-md-inline-block" href="/member">會員登入</a>
         <a class="py-2 d-none d-md-inline-block" href="/member/logout">登出</a>
      </div>
    </nav>
				
				
</body>
</html>